.component {
    background-color: #e2e2e2;
    display: flex;
    position: relative;
    height: 100%;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.noChat {
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}