
.element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    color: #5ae609;
    font-weight: 600; 
}